---
import Experience from "../components/Experience.astro"
import Projects from "../components/Projects.astro"
import Hero from "../components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import About from "../components/About.astro"
import Footer from "../components/Footer.astro"
---

<Layout 
	title="Data Scientist Jr - Especializado en Machine Learning"
	description="Portafolio de proyectos de Machine Learning y Data Science">
	<main>
		<Hero>
			</slot>
		</Hero>
		<Experience></Experience>
		<Projects></Projects>
		<About></About>
	</main>
</Layout>
